@charset "UTF-8";
.header-navigation {
  width: 100%;
  height: 80px;
  background-color: #F4F1DC;
  position: fixed;
  z-index: 1;
}
.header-navigation .list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.kv {
  display: flex;
}
.kv .main-left {
  background-color: #80B6BF;
  width: 40%;
  height: 500px;
}
.kv p {
  color: #F4F1DC;
  text-decoration: line-through;
  font-size: 75px;
  font-family: serif;
  text-align: start;
  padding: 10px;
}
.kv img {
  width: 100%;
  height: 500px;
  background-image: cover;
  filter: grayscale(100%);
  /*モノクロ具合を変更したい場合はこの数値を変更*/
  transition: 0.3s ease-in-out;
  /*移り変わる速さを変更したい場合はこの数値を変更*/
}
.kv img:hover {
  /*hoverした時の変化*/
  filter: grayscale(0);
}
.kv .maru {
  background-image: url(../image/maru-removebg-preview.png);
}

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.info-wrap .countries {
  justify-content: space-evenly;
  width: 360px;
  height: 360px;
}

/*========= Info ===============*/
#wrapper p {
  text-align: center;
  font-size: large;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: dimgrey;
  letter-spacing: 2px;
}

a .to-top {
  width: 200px;
  position: fixed;
  right: 10px;
  position: fixed;
  z-index: 3;
}

/*====================================================================
アコーディオン
====================================================================*/
.s_01 .accordion {
  max-width: 1024px;
  margin: 0 auto;
}

.s_01 .accordion_one .accordion_header {
  background-color: #80B6BF;
  color: #34393b;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-of-type(2) .accordion_header {
  background-color: #F4F1DC;
  color: #34393b;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-of-type(3) .accordion_header {
  background-color: #80B6BF;
  color: #34393b;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 11%;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header:hover {
  opacity: 0.8;
}

.s_01 .accordion_one .accordion_header .i-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header .i-box.one_i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}

.s_01 .accordion_one .accordion_header.open .i-box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i-box.one_i:before,
.s_01 .accordion_one .accordion_header .i-box.one_i:after {
  display: flex;
  content: "";
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}

.s_01 .accordion_one .accordion_header .i-box.one_i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}

.s_01 .accordion_one .accordion_header.open .i-box.one_i:before {
  content: none;
}

.s_01 .accordion_one .accordion_header.open .i-box.one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner,
.accordion_one:nth-of-type(2),
.accordion_one:nth-of-type(3) {
  display: none;
  padding: 30px 30px;
  border-left: 2px solid #303030;
  border-right: 2px solid #303030;
  border-bottom: 2px solid #303030;
  box-sizing: border-box;
}

.s_01 .accordion_one .accordion_inner .box_one {
  height: 300px;
}

.s_01 .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 18px;
  }
  .s_01 .accordion_one .accordion_header .i-box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
@media screen and (max-width: 767px) {
  .s_01 .accordion_one .accordion_header {
    font-size: 16px;
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
}/*# sourceMappingURL=fuka.css.map */