$color1: #F4F1DC;
$color2: #80B6BF;

// headear============
.header-navigation {
    width: 100%;
    height: 80px;
    background-color: $color1;
    position: fixed;
    z-index: +2;

    .list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        gap: 20px;
    }
    a {
      color: inherit;
      text-decoration: none;
      display: block;
  }
}


// }Kv==============

.kv {
    display: flex;

    .main-left {
        background-color: $color2;
        width: 40%;
        height: 500px;
    }

    p {
        color: #F4F1DC;
        text-decoration: line-through;
        font-size: 75px;
        font-family: serif;
        text-align: start;
        padding: 10px;
    }

    img {
        width: 100%;
        height: 500px;
        background-image: cover;
        filter: grayscale(100%);
        /*モノクロ具合を変更したい場合はこの数値を変更*/
        transition: .3s ease-in-out;
        /*移り変わる速さを変更したい場合はこの数値を変更*/
    }

    img:hover {
        /*hoverした時の変化*/
        filter: grayscale(0);
    }

    .maru {
        background-image: url(../image/maru-removebg-preview.png);
    }


}



// info-------------------------
.info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;


    .countries {
        justify-content: space-evenly;
        width: 360px;
        height: 360px;
    }

}




/*========= Info ===============*/

#wrapper p {
    text-align: center;
    font-size: large;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: dimgrey;
    letter-spacing: 2px;
}

// Page top-----

a .to-top {
    width: 200px;
    position: fixed;
    right: 10px;
    position: fixed;
    z-index: 3;
}



/*====================================================================
アコーディオン
====================================================================*/
.s_01 .accordion {
    max-width: 1400px;
    margin: 0 auto;
}

// @mixin settings-a {
//     color: #34393b;
//     font-size: 25px;
//     font-weight: bold;
//     padding: 20px 11%;
//     text-align: center;
//     position: relative;
//     cursor: pointer;
//     z-index: +1;
//     transition-duration: 0.2s;
// }

.s_01 .accordion_one .accordion_header {

   background-color: $color2;
   color: #34393b;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 11%;
    text-align: center;
    position: relative;
    cursor: pointer;
    z-index: +1;
    transition-duration: 0.2s;

}

.s_01 .accordion_one:nth-of-type(2) .accordion_header {
    background-color:$color1;
    color: #34393b;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 11%;
    text-align: center;
    position: relative;
    cursor: pointer;
    z-index: +1;
    transition-duration: 0.2s;
}

.s_01 .accordion_one:nth-of-type(3) .accordion_header {
    background-color: $color2;
    color: #34393b;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 11%;
    text-align: center;
    position: relative;
    cursor: pointer;
    z-index: +1;
    transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header:hover {
    opacity: .8;
}

.s_01 .accordion_one .accordion_header .i-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    margin-top: -20px;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
}

.s_01 .accordion_one .accordion_header .i-box.one_i {
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: center center;
    transition-duration: 0.2s;
    position: relative;
}

.s_01 .accordion_one .accordion_header.open .i-box{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.s_01 .accordion_one .accordion_header .i-box.one_i:before,
.s_01 .accordion_one .accordion_header .i-box.one_i:after {
    display: flex;
    content: '';
    background-color: #fff;
    border-radius: 10px;
    width: 18px;
    height: 4px;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
}

.s_01 .accordion_one .accordion_header .i-box.one_i:before {
    width: 4px;
    height: 18px;
    top: 0;
    left: 7px;
}

.s_01 .accordion_one .accordion_header.open .i-box.one_i:before {
    content: none;
}

.s_01 .accordion_one .accordion_header.open .i-box.one_i:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.s_01 .accordion_one .accordion_inner,
.accordion_one:nth-of-type(2) .accordion_inner,
.accordion_one:nth-of-type(3) .accordion_inner {
    display: none;
    padding: 30px 30px;
    border-left: 2px solid #303030;
    border-right: 2px solid #303030;
    border-bottom: 2px solid #303030;
    box-sizing: border-box;
}
// .txt_a_ac{
//   font-size: 12px;
// }

.s_01 .accordion_one .accordion_inner .box_one {
    height: 300px;
}

.s_01 .accordion_one .accordion_inner p.txt_a_ac {
    margin: 0;
}

// @media screen and (max-width: 1400px) {
//     .s_01 .accordion_one .accordion_header {
//         font-size: 18px;
//     }

    .s_01 .accordion_one .accordion_header .i-box{
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

@media screen and (max-width: 767px) {
    .s_01 .accordion_one .accordion_header {
        font-size: 16px;
        text-align: left;
        padding: 15px 60px 15px 15px;
    }
}




// ============ whether ============

.whether{
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
  color: #34393b;
  h1{
    font-size: 30px;
  }
  .city-list{
    margin: 50px 50px 20px;
    gap: 50px;
    input {
      margin: 2%;
    }
    
    #cityRadio{
      margin-left: 30px;
    } 
    label{
      margin-right: 20px;
    } 
  }
}

// ==== ラジオボタン ====
input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: relative;
  vertical-align: sub;
  margin-right: 5px;
}
input[type="radio"]::before, input[type="radio"]::after{
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
input[type="radio"]::before {
  background-color: #fff;
  border: 1px solid rgb(172, 172, 172);
  height: 20px;
  width: 20px;
  left: 0px;
}
input[type="radio"]::after {
  background-color: $color2;
  opacity: 0;
  height: 14px;
  width: 14px;
  left: 4px;
}
input[type="radio"]:checked::after {
  opacity: 1;
  font-weight: bold;
}

// === ラジオボタン　テキスト ===
// ラジオボタン選択したら文字を太字に
input[type="radio"]:checked+label {
  font-weight: bold;
}
label{
  font-size: 20px;
}

// ====== 天気 クリックボタン =======
.btn{
  border: 2px solid $color2;
  border-radius:50px;
  width:150px;
  padding: 15px;
  background-color: $color2;
  font-size: 20px;
  margin-bottom: 20px;
  color: #34393b;  
  .fa-solid{
    margin-left: 5px;
  }  
}
.btn:hover{
  background-color: $color1;
  transition: all 0.5s;
}

// 天気画像大きさ
img{
  width: 100px;
}
.weatherMain{
  color: #34393b;
  .weatherMain-box{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    .forecast div{
      margin-bottom: 5px;
    }
  }
  .bold{
    font-weight: bold;
    font-size: 25px;
  }
}



// ========== フッター ==========
.footer {
  margin-top: 40px;
  background-color: $color1;
  color: $color2;
  .footer-sns{
    text-align: center;
    
    .sns-navi{
      display: flex;
      justify-content: center;
      padding-top: 10px;
      margin-right: 40px;
      
      li{
        display: inline-block;
        font-size: 20px;
      }
      a{
        margin-left: 20px;
        color: $color2;
        font-size: 25px;
      }
    }
  }
  .footer-site{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 20px 0px;
    
    .site-navi{
      display: flex;
      li{
        list-style: none;
        margin-right: 20px;
      }
      a{
        text-decoration: none;
        color: $color2;
      }
      div{
        font-size: 10px;
      }
    }
  }  
}



