@charset "UTF-8";
body {
  max-width: 1400px;
  margin: 0;
  padding: 0;
}

.header-navigation {
  width: 100%;
  height: 80px;
  background-color: #F4F1DC;
  position: fixed;
  z-index: 1;
}
.header-navigation .list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.kv {
  display: flex;
}
.kv .main-left {
  background-color: #80B6BF;
  width: 40%;
  height: 500px;
}
.kv p {
  color: #F4F1DC;
  text-decoration: line-through;
  font-size: 75px;
  font-family: serif;
  text-align: start;
  padding: 10px;
}
.kv img {
  width: 100%;
  height: 500px;
  background-image: cover;
  filter: grayscale(100%);
  /*モノクロ具合を変更したい場合はこの数値を変更*/
  transition: 0.3s ease-in-out;
  /*移り変わる速さを変更したい場合はこの数値を変更*/
}
.kv img:hover {
  /*hoverした時の変化*/
  filter: grayscale(0);
}
.kv .maru {
  background-image: url(../image/maru-removebg-preview.png);
}

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 30px;
}
.info-wrap .countries {
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
}

/*========= レイアウトのためのCSS ===============*/
#wrapper p {
  text-align: center;
  font-size: large;
  /*========= waveを描画するエリア設定 ===============*/
}
#wrapper p .wave:nth-child(1) {
  background: #fff;
}
#wrapper p .wave:nth-child(2) {
  background: #eee;
}
#wrapper p .wave:nth-child(3) {
  background: #eee;
}
#wrapper p .wave canvas {
  position: absolute;
  bottom: 0;
  left: 0;
}

a .to-top {
  width: 200px;
  position: fixed;
  right: 10px;
  position: fixed;
}

.whether {
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
}
.whether h1 {
  font-size: 30px;
}
.whether .city-list {
  margin: 50px 50px 20px;
  gap: 50px;
}
.whether .city-list input {
  margin: 2%;
}
.whether .city-list #cityRadio {
  margin-left: 30px;
}
.whether .city-list label {
  margin-right: 20px;
}

input[type=radio] {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: relative;
  vertical-align: sub;
  margin-right: 5px;
}

input[type=radio]::before, input[type=radio]::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

input[type=radio]::before {
  background-color: #fff;
  border: 1px solid rgb(172, 172, 172);
  height: 20px;
  width: 20px;
  left: 0px;
}

input[type=radio]::after {
  background-color: #80B6BF;
  opacity: 0;
  height: 14px;
  width: 14px;
  left: 4px;
}

input[type=radio]:checked::after {
  opacity: 1;
  font-weight: bold;
}

input[type=radio]:checked + label {
  font-weight: bold;
}

label {
  font-size: 20px;
}

.btn {
  border: 2px solid #80B6BF;
  border-radius: 50px;
  width: 150px;
  padding: 15px;
  background-color: #80B6BF;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn .fa-solid {
  margin-left: 5px;
}

.btn:hover {
  background-color: #F4F1DC;
  transition: all 0.5s;
}

img {
  width: 100px;
}

.weatherMain-box {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
}
.weatherMain-box .forecast div {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
  font-size: 25px;
}

.footer {
  margin-top: 40px;
  background-color: #F4F1DC;
  color: #80B6BF;
}
.footer .footer-sns {
  text-align: center;
}
.footer .footer-sns .sns-navi {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-right: 40px;
}
.footer .footer-sns .sns-navi li {
  display: inline-block;
  font-size: 20px;
}
.footer .footer-sns .sns-navi a {
  margin-left: 20px;
  color: #80B6BF;
  font-size: 25px;
}
.footer .footer-site {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 20px 0px;
}
.footer .footer-site .site-navi {
  display: flex;
}
.footer .footer-site .site-navi li {
  list-style: none;
  margin-right: 20px;
}
.footer .footer-site .site-navi a {
  text-decoration: none;
  color: #80B6BF;
}/*# sourceMappingURL=style.css.map */