/* h2{
  background-color: #80B6BF;  イメージカラー
  background-color: #f4f1dc;　　ヘッダー＆フッダー
} */


body {
  text-align: center;

}

// ======= whether =======

.whether-box h1{
  font-size: 30px;
}
.city-list{
  margin: 50px auto 20px;
}






.container{
  padding-left: 20%;
  padding-right: 20%;
}
input {
  margin: 2%;
}

.bold{
  font-weight: bold;
  font-size: 1.5em;
}





// ======= city-list =======
#cityRadio{
  margin-left: 30px;
}

// 天気画像大きさ
img{
  width: 100px;
}

// ==== ラジオボタン ====
input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: relative;
  vertical-align: sub;
  margin-right: 5px;
}
input[type="radio"]::before, input[type="radio"]::after{
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
input[type="radio"]::before {
  background-color: #fff;
  border: 1px solid #c2c1c1;
  height: 20px;
  width: 20px;
  left: 0px;
}
input[type="radio"]::after {
  background-color: #80B6BF;
  opacity: 0;
  height: 14px;
  width: 14px;
  left: 4px;
}
input[type="radio"]:checked::after {
  opacity: 1;
  font-weight: bold;
}

// === ラジオボタン　テキスト ===
// ラジオボタン選択したら文字を太字に
input[type="radio"]:checked+label {
  font-weight: bold;
}
label{
  font-size: 20px;
}


// ====== 天気　ボタン =======
.btn{
  border: 2px solid #80B6BF;
  border-radius:50px;
  width:150px;
  padding: 15px;
  background-color: #80B6BF;
  font-size: 20px;
  margin-bottom: 20px;
}
.fa-solid{
  margin-left: 5px;
}
.btn:hover{
  background-color: #f4f1dc;
  transition: all 0.5s;
}



// footer{
//   background-color: #f4f1dc;
//   padding: 10px 20px;
// }
// .footer span{
//   padding: 20px 20px;
// }



// ======= フッター =======
.footer {
  // display: flex;
  // position: relative;
  margin-top: 40px;
  background-color: #f4f1dc;
  color: #222;
}
.footer a {
  text-decoration: none;
  color: #222;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .primary {
  padding: 40px 20px;
  // background: #333;
}
.footer .secondary {
  display: flex;
  padding: 40px 20px;
  // background: #222;
}

@media screen and (max-width: 767px) {
  .footer .primary {
    padding: 20px 20px;
    // background: #333;
  }
  .footer .secondary {
    display: block;
    padding: 20px 20px;
  }
}

/* footer-logo */

.footer .logo {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .footer .logo {
    font-size: 16px;
  }
}

/* address */

.address {
  margin: 10px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .address {
    font-size: 12px;
  }
}

/* navi */

.footer-navi {
  display: flex;
  margin-top: 40px;
}
.footer .navi {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .navi li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}
.footer .navi li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .footer-navi {
    display: block;
    margin-top: 15px;
  }
  .footer .navi {
    font-size: 12px;
  }
  .footer .navi li {
    margin-top: 5px;
    font-size: 12px;
  }
}

/* sns-navi */

.footer .sns-navi {
  margin: 0 0 0 auto;
  padding: 0;
}
.footer .sns-navi li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 20px;
}
.footer .sns-navi li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer .sns-navi {
    margin: 20px 0 0;
    padding: 0;
  }
  .footer .sns-navi li {
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 18px;
  }
}

/* sitenavi */

.footer .sitenavi {
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .sitenavi li {
  display: inline-block;
  margin: 0 0 0 20px;
  padding: 0;
}
.footer .sitenavi li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .footer .sitenavi {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}

/* copyright */

.footer .copyright {
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
}
